<div class="contenedor">
    <div class="left">
        <h1>
            Trello le permite trabajar de forma más colaborativa y ser más productivo.   
        </h1>
        <p>
            Las tarjetas, listas y tableros de Trello le permiten organizar y priorizar sus proyectos de forma divertida, flexible y provechosa.
        </p>
    </div>
    <div class="right">
            <!-- <img src="assets/img/trello.png" height="400px" width="80%"> -->
            <!-- <router-outlet></router-outlet> -->
            <app-form-login></app-form-login>
    </div>
   
</div>
